body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;

    color: white;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#menu {
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 10%;
    margin: 0px 15px 15px 15px;
    background-color: #dadada;
    border-radius: 40px;
    box-shadow: 20px 16px 18px 0px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.basem {
    display: flex;
    width: 20%;
    height: 70%;
    margin: 10px;

    background: rgba(255, 255, 255, 0.07);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 20px;

    transition: all 0.3s ease-in-out;
}

.basem:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

#pai {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 80%;
    background-color: #dadada;
    border-radius: 40px;
    box-shadow: 20px 16px 18px 0px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#selectMes {
    display: flex;
    width: 93%;
    height: 10%;
    margin: 20px 20px 0px 20px;
    color: white;

    background: rgba(255, 255, 255, 0.07);
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    align-items: center;
    justify-content: center;
    text-align: center;

    outline: none;

    transition: all 0.3s ease-in-out;

    z-index: 1;
}

#selectMes option {
    color: black;
}

#selectMes:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

#infosMes {
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 65%;
}

#dadosMes {
    width: 50%;
    height: 100%;
    color: white;

    background: rgba(255, 255, 255, 0.07);
    border-radius: 0px 0px 0px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    text-align: center;
    justify-content: center;
    text-align: center;

    overflow: auto;
}

#dadosMes table, tr, td {
    height: 30px;
    border-collapse: collapse;
}

#dadosMes table thead tr th {
    background-color: #dadada;
}

#dadosMes table tr:nth-child(odd) {
    background-color: #a5a5a5;
    transition: all 0.3s ease-in-out;
}

#dadosMes table th {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#dadosMes table th:hover {
    background-color: #c5c5c5;
    transition: all 0.3s ease-in-out;
}

#dadosMes table tbody tr:hover {
    cursor: pointer;
    background-color: #c5c5c5;
    transition: all 0.3s ease-in-out;
}

#grafico {
    width: 50%;
    height: 100%;
    color: white;

    background: rgba(255, 255, 255, 0.07);
    border-radius: 0px 0px 30px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    text-align: center;
    justify-content: center;
    text-align: center;
}

#opcoes {
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 15%;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.base {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    justify-content: center;
    align-items: center;
    text-align: center;
}

.base p {
    font-size: 14px;
}

.base p, h1, h3 {
    margin: 0;
    padding: 0;
}

.context-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    color: black;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    z-index: 1000;
    font-size: 14px;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.context-menu ul li {
    padding: 8px 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.context-menu ul li:hover {
    background: #eeeeee;
}

/* Popup container */
#btnAdd {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#btnAdd:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

#blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: opacity 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

#divAdicionar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    display: none;
    opacity: 0;
    z-index: 20;
    transition: opacity 0.3s ease, transform 0.3s ease;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#popupAdicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 600px;
    height: 470px;
    padding: 30px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);

    color: #333;
    text-align: left;
}

#fecharPopup {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #888;
    border-radius: 20px;
    border: 0px;
}

#popupAdicionar h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #222;
    text-align: center;
}

#formAdicionar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formAdicionar label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #444;
}

#formAdicionar input,
#formAdicionar select {
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    background: #f9f9f9;
    transition: all 0.3s ease;
}

#formAdicionar input:focus,
#formAdicionar select:focus {
    border-color: #555;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

#formAdicionar button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #404140, #797979);
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

#formAdicionar button:hover {
    background: linear-gradient(135deg, #666666, #acacac);
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}